.footer{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer .logo{
    height: 60px;
    display: flex;
    align-items: flex-end;
}
.footer .logo span:first-child{
    width: 10px;
    height: 12px;
    border: 3px solid #6EB2DB;
}
.footer .logo span:nth-child(2){
    width: 10px;
    height: 18px;
    border: 3px solid #6EB2DB;
}
.footer .logo span:nth-child(3){
    width: 10px;
    height: 22px;
    border: 3px solid #6EB2DB; 
}
.footer .logo h2{
    margin-left: 6px;
    line-height: 1;
}
.footer nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.footer nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.social-icon ul{
   display: flex;
   list-style: none;
}
.social-icon ul li{
    margin: 0 10px;
    color: rgb(97, 96, 96);
    cursor: pointer;
}
.copyright{
    margin: 40px 0;
}
.copyright a{
    text-decoration: none;
    color: #6EB2DB;
}