.title-section{
    width:60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.title-section h3{
    color: black;
    margin: 20px 0;
    font-size: 35px;
    font-weight: 800;
}
.title-section p{
    color: #757678;
    margin-bottom: 20px;
}